/* newsCard.css */
.news-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
   
  }
.news-card {
    grid-column: span 1;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    height: 300px;
  }
  
  .news-card:hover {
    transform: translateY(-5px);
  }
  
  .news-image {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .news-details {
    display: flex;
    flex-direction: column;
  }
  
  .news-headline {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .news-source {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 8px;
  }
  
  .news-summary {
    font-size: 1rem;
    line-height: 1.4;
    color: #333;
  }
  
  