.news-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  height: 450px;
  width: 800px;
  
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-image-container {
  flex: 1;
  padding: 10px;
}

.news-image {
  width: 100%;
  max-height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.news-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.news-headline {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.news-source {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 8px;
}

.news-summary {
  font-size: 1rem;
  line-height: 1.4;
  color: #333;
}

.news-right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.news-right-row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.news-right-row:last-child {
  border-bottom: none;
}

.news-container{
  display: grid;
  margin-top: 5%;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
